.recipeDescription {
  padding: 36px;
  background: rgba(181, 70, 15, 0.33);
  border-radius: 10px;
}

.recipeDescription p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
