@import 'styles/variables.scss';
.recipeInfo {
  display: flex;
  gap: 3px;
  align-items: center;
}

.img {
  width: 448px;
  height: 298px;
  border-radius: $border-radius;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $border-radius;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 100px;
}

.info_container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .img {
    width: 48%;
  }

  .info {
    column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .recipeInfo {
    flex-direction: column;
    gap: 20px;
  }

  .img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 375px) {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 250px) {
  .info {
    display: grid;
    grid-template-columns: 1fr;
  }
}
