.menu_li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.menu_li__active {
  color: #b5460f;
}

.menu {
  display: flex;
  gap: 16px;
}

@media (max-width: 1024px) {
  .menu {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
