@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.button {
  @include displayFlexAlignCenterJCcenter;
  @include normal400;
  padding: 17px 20px;
  gap: 8px;
  background: $default-color;
  border-radius: 0px;
  font-size: 18px;
  line-height: 18px;
  border: none;
  color: $background-white;
  border-radius: $border-radius;
}

.button__hover:hover {
  background: $button-hover;
}

.button__disabled:disabled {
  background: $button-disabled;
}

.button:active {
  background: $button-active;
}
