@import 'styles/variables.scss';
.ProductsElements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 64px;
  column-gap: 80px;
}

.slot {
  color: $default-color;
}

@media (max-width: 1024px) {
  .ProductsElements {
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    column-gap: 40px;
  }
}

@media (max-width: 768px) {
  .ProductsElements {
    grid-template-columns: 1fr;
    column-gap: 30px;
  }
}
