@mixin respondToMedium {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin respondToSmall {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respondToExtraSmall {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin respondTo390{
  @media (max-width: 390px) {
    @content;
  }
}

@mixin respondTo320{
  @media (max-width: 320px) {
    @content;
  }
}



@mixin respondTo250{
  @media (max-width: 250px) {
    @content;
  }
}

@mixin respondTo190{
  @media (max-width: 190px) {
    @content;
  }
}

@mixin respondTo185{
  @media (max-width: 185px) {
    @content;
  }
}

@mixin respondToFullWidthSmall {
  @media (max-width: 768px) {
    width: 100%;
  }
}


@mixin respondToNoneExtraSmall {
  @media (max-width: 375px) {
    display: none;
  }
}

@mixin respondToNoneSmall {
  @media (max-width: 768px) {
    display: none;
  }
}

@mixin respondToNone155{
  @media (max-width: 155px) {
    display: none;
  }
}


@mixin displayFlexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin displayFlexAlignCenterColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}


@mixin flexColumnCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin displayFlexAlignCenterSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin displayFlexAlignCenterJCcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin normal700 {
    font-style: normal;
    font-weight: 700;
}

@mixin normal600 {
    font-style: normal;
    font-weight: 700;
}

@mixin normal500 {
    font-style: normal;
    font-weight: 500;
}

@mixin normal400 {
    font-style: normal;
    font-weight: 400;
}

@mixin fz44 {
    font-size: 44px;
    line-height: 48px;
}

@mixin fz32 {
    font-size: 32px;
    line-height: 36px;
}

@mixin fz28 {
    font-size: 28px;
    line-height: 32px;
}

@mixin fz20 {
    font-size: 20px;
    line-height: 24px;
}

@mixin fz18 {
    font-size: 18px;
    line-height: 22px;
}

@mixin fz16 {
    font-size: 16px;
    line-height: 20px;
}

@mixin fz14 {
    font-size: 14px;
    line-height: 18px;
}

@mixin normal400-fz16 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

@mixin positionImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@mixin paginationNumber{
  @include  flexColumnCenter;
  @include normal400;
  @include fz18;
  width: 38px;
  height: 42px;

  @include respondTo390 {
    width: 32px;
  }
}
