@import 'styles/variables.scss';

.recipeInfoElement {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.info {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $default-color;
}
