@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.card {
  background-color: #d9d9d9;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cardImg {
  width: 100%;
  height: 348px;
  overflow: hidden;
  padding: 0px;
  border-radius: $border-radius;

  @include respondToMedium{
    height: 300px;
  }


  @include respondToExtraSmall{
    height: 250px;
  }
}
.cardImg__img {
  @include positionImg;
  display: block;

}

.cardInfo {
  padding: 24px 12px;
  background-color: $background-white;
  border-radius: 0 0 $border-radius $border-radius;
  flex: 1;
  @include flexColumn;
}

.captionSlot {
  @include normal500;
  @include fz14;
  color: $color-placeholder;
  margin-bottom: 8px;
}

.title {
  @include normal500;
  @include fz20;
  color: $color-black;
  margin-bottom: 8px;
  flex: 1;
  min-height: calc(2 * 24px);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  @include normal400-fz16;
  color: $color-placeholder;
  margin-bottom: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  @include displayFlexAlignCenterSB;

  @include respondTo185{
    flex-wrap: wrap;
    gap: 20px;
  }
}

.contentSlot {
  @include normal700;
  @include fz18;
  color: $color-black;
}
