@import '../../styles/variables.scss';

.card {
  background-color: #d9d9d9;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cardImg {
  width: 100%;
  height: 348px;
  overflow: hidden;
  padding: 0px;
  border-radius: $border-radius;
}
.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.cardInfo {
  padding: 24px 12px;
  background-color: white;
  border-radius: 0 0 $border-radius $border-radius;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.captionSlot {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-placeholder;
  margin-bottom: 8px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  flex: 1;
  min-height: calc(2 * 24px);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-placeholder;
  margin-bottom: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentSlot {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 1024px) {
  .cardImg {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .cardImg {
    height: 250px;
  }
}

@media (max-width: 185px) {
  .cardFooter {
    flex-wrap: wrap;
    gap: 20px;
  }
}
