@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.header__container {
  height: 64px;
  @include displayFlexAlignCenterSB;
}

.header {
  background-color: $color-header-menu;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header__entrance {
  @include displayFlexAlignCenter;
  gap: 17px;
  @include respondToNoneSmall;
}

.logo__text {
  @include normal700;
  @include fz20;
  color: $color-black;
}

.logo {
  @include displayFlexAlignCenter;
  gap: 20px;
}

.header__left {
  @include displayFlexAlignCenter;
  gap: 80px;

  @include respondToMedium{
    gap: 30px;
  }
}

.burger {
  display: none;
  cursor: pointer; 
  width: 30px; 
  height: 24px; 

  @include respondToSmall{
    @include flexColumn;
    justify-content: space-between;
  }
}

.burger__line {
  width: 100%;
  height: 3px;
  background-color: #333; 
  border-radius: 2px; 
  transition: all 0.3s ease;
}

