@import 'styles/variables.scss';

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_wrapper {
  background-color: $background-header;
}

.header_entrance {
  display: flex;
  align-items: center;
  gap: 17px;
}

.logo_text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 80px;
}

@media (max-width: 1024px) {
  .header_left {
    gap: 30px;
  }
}

@media (max-width: 190px) {
  .header_entrance {
    display: none;
  }
}
