.optionsContainer {
  width: 350px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin-top: 8px;
  position: absolute;
}

.optionsContainer p {
  padding: 14px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.multiDropdown {
  display: inline-block;
  position: relative;
}

@media (max-width: 375px) {
  .multiDropdown {
    display: block;
  }

  .optionsContainer {
    width: 100%;
  }
}
