@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.options {
  width: 350px;
  background: $background-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin-top: 8px;
  position: absolute;

  @include respondToFullWidthSmall;
}

.options p {
  padding: 14px 12px;
  @include normal400-fz16;
  color: $color-black;
}

.multiDropdown {
  display: inline-block;
  position: relative;

  @include respondToFullWidthSmall;
}
