.resipeHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 37px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: #000000;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 250px) {
  .title {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 155px) {
  .back {
    display: none;
  }
}
