@use 'styles/variables.scss' as *;
@use 'styles/mixins' as *;

.resipeHeader {
  @include displayFlexAlignCenter;
  gap: 16px;
  margin-bottom: 37px;
}

.title {
  @include normal700;
  @include fz44;
  color: $color-black;

  @include respondToMedium{
    @include fz32;
  }

  @include respondToExtraSmall {
    @include fz28;
  }

 @include respondTo250 {
     @include fz20;
  }
}


.back{
  @include respondToNone155;
}

